/* MAIN BODY */
* {
  margin: 0;
  padding: 0;
  font-family: "Poppines", sans-serif;
  color: #333333;
  box-sizing: border-box;
}

body {
  background: linear-gradient(135deg, #f9c5d1, #a8d8ea, #f9f9f9);
  background-size: 400% 400%;
  animation: gradient 8s ease infinite;
}
/* BACKGROUND DESIGN*/
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* FOR CENTERING THE CONTENTS OF THE SECTION */
section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.weather-details {
  display: flex;
  gap: 4rem;
}

.humidity {
  margin-top: 12px;
}

/* ALIGNMENT OF CURRENT WEATHER, TEMPERATURE, & CITY */

.weather-main {
  text-align: center;
}

#weather-main-icon {
  margin-top: 2rem;
  transform: scale(0.8);
}

#temperature {
  font-size: 3.5rem;
  margin-top: 1px;
}

#city {
  font-size: 2.5rem;
  margin-top: 1rem;
  margin-bottom: 3rem;
}

.weather-details {
  display: flex;
  gap: 40px;
}

.humidity,
.wind {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.weather-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 40px;
}

.weather-value {
  font-size: 2rem;
  font-weight: 600;
}

.weather-label {
  font-size: 0.75rem;
  margin-top: 8px;
}

.weather-image {
  margin-top: 0px;
  transform: scale(0.6);
}

/* NEOBRUTALISM DESIGN FOR SEARCH BAR */
.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

form {
  display: flex;
  align-items: center;
  gap: 10px;
}

.search-input {
  outline: none;
  border: 2px solid #000;
  box-shadow: 3px 4px 0px 1px #000;
  width: 290px;
  padding: 8px 10px;
  border-radius: 4px;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  transition: all 0.2s ease;
}

.search-input:focus {
  transform: translateY(4px);
  box-shadow: 1px 2px 0px 0px #000;
}

.search-input::placeholder {
  color: #888;
}

.search-input:focus::placeholder {
  color: transparent;
}

#search-button {
  padding: 10px 14px;
  background: #a8d8ea;
  border: 2px solid #000;
  border-radius: 4px;
  box-shadow: 3px 4px 0px 1px #000;
  cursor: pointer;
  transition: all 0.2s ease;
}

#search-button:focus,
#search-button:hover {
  transform: translateY(4px);
  box-shadow: 1px 2px 0px 0px #000;
}

#search-button img {
  width: 18px;
  height: 18px;
  display: block;
}
